body {
    padding: 0;
    margin: 0;
    background-color: black;
}

canvas {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    position: absolute;
}

#character {
    background-image: url('../src/giphy.gif');
    background-size: 100% 100%;
}

#fire {
    /* background-color: blue; */
}

#enemy {
    /* background-color: red; */
}